<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">
<!-- 
 <resultMap type="kr.co.web.model.Product.productDto" id="selectList"> 
 

 	<result property="seq" column="seq"/>
 	<result property="category" column="category"/> 
	<result property="title" column="title"/> 
 	<result property="contents" column="contents"/>
	<result property="price" column="price"/> 
 	<result property="view_count" column="view_count"/> 
 	<result property="display_yn" column="display_yn"/> 
 	<result property="create_date" column="create_date"/> 
	<result property="writer" column="writer"/>
 	<result property="photo" column="photo"/> 
 	<result property="title_photo" column="title_photo"/>


 </resultMap> 
 -->
     <select id="selectList" resultType="kr.co.web.model.Product.productDto">
        SELECT *
        FROM atworks_product
     </select>
     
     <select id="productDetail" resultType="kr.co.web.model.Product.productDto">
     	SELECT * 
     	FROM atworks_product
     	WHERE seq = #{seq}
     </select>
     
     
     
   <!-- 관리자 상품 리스트 -->
     <select id="adProductList" resultType="kr.co.web.model.Product.productDto">
  		SELECT *
    	FROM atworks_product
     </select>

	  <!-- 관리자 상품 리스트 등록-->
     <insert id="adProductWrite" parameterType="String" >
     	
     	INSERT INTO atworks_product
     	VALUES(seq.NEXTVAL,#{category}, #{title}, #{contents},
     		   #{contents},#{view_count},SYSDATE, #{photo}, #{title_photo} )
     </insert>
          
  
     
     
 
</mapper>